.checkin-container{
    position: relative;
}
.checkout-container{
    display: flex;
    align-items: center;
}
.appointment-item-wrapper{
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    display: inline-block;
    box-sizing: border-box;
    max-width: 33.333%;
    margin:10px;
    vertical-align: top;
}
ul.appointment-item{
    list-style-type: none;
    padding: 0;
}
.check-state.start-consulting{
    background-color:#147b1a;
    border: 1px solid #d9d7d7;
    border-radius: 50%;
    height:40px;
    width:40px;
    justify-content:center;
    align-items:center;
    position: relative;
}
.check-state.start-consulting i{
    color:red;
}
.check-state{
    box-sizing: border-box;
    padding: 10px;
    background-color: #136b28;
    color:#fff;
    border-radius: 10px;
    margin:10px 0;
    display: inline-flex;
    margin: 2px;
    position:relative;
    
}
.check-state:hover{
    color: #fff
}
.zoom-loading-bg {
	position: absolute;
	top: 0;
    left: 0;
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgb(255,255,255,0.5);
	border-radius: 10px;
}

.zoom-loading{
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	display: block;
	height: 25px;
	width: 25px;
	border: 3px solid rgb(255,255,255, 0.3);
	border-top-color: #227511;
    border-radius: 50%;
    margin: auto;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
}
@keyframes zoom-rotate {
  0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.zoom-loading, .zoom-loading-bg{
    display: none;
}

.check-state.is-out{
    background-color:transparent ;
    color: red;
}

.appointment-tip.show-tip{
    padding: 10px;
    max-height: 400px;
    opacity:1;
}
.is-out-tip{
    cursor:pointer;
}
.appointment-tip{
    position: absolute;
    background-color: rgb(0,0,0, 0.8);
    padding: 0;
    margin: 0 10px;
    border-radius: 8px;
    max-width: 250px;
    max-height:0;
    top: -130%;
    opacity:0;
    transition: all 0.4s ease-in-out;
}
.appointment-tip:after{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-left: 8px solid transparent;
    border-top: 8px solid rgb(0,0,0, 0.8);
    border-right: 8px solid transparent;
    left:50%;
    bottom:-8px;
    
}
.appointment-tip p{
    margin: 0;
    font-size: 12px;
    color: #fff;
}

.check-state.check-out{
    background-color:#BC0126 ;
}

ul.appointment-item li{
    margin:5px 0;
    color: #151e47;
    
    
}

ul.appointment-item li i{
    color: #BC0126;
}

/**-------Woocommerce---------*/

.woocommerce-page .woocommerce-MyAccount-navigation{
    color: #771d5b!important;
}

.woocommerce-page .woocommerce .woocommerce-MyAccount-navigation ul li.is-active {
    background-color: #771d5b;
}
.woocommerce-page .woocommerce .woocommerce-MyAccount-navigation {
    border: 1px solid #771d5b;
}
.woocommerce-page .woocommerce #respond input#submit,
.woocommerce-page .woocommerce a.button,
.woocommerce-page .woocommerce button.button,
.woocommerce-page .woocommerce input.button,
.woocommerce-page .woocommerce .jupiterx-wc-loadmore {

    background-color: #771d5b;
    border: 1px solid #771d5b;

}

.woocommerce-page  .woocommerce #respond input#submit.alt:hover,
.woocommerce-page  .woocommerce #respond input#submit.alt:focus,
.woocommerce-page  .woocommerce a.button.alt:hover,
.woocommerce-page  .woocommerce a.button.alt:focus,
.woocommerce-page  .woocommerce button.button.alt:hover,
.woocommerce-page  .woocommerce button.button.alt:focus, 
.woocommerce-page  .woocommerce input.button.alt:hover,
.woocommerce-page  .woocommerce input.button.alt:focus {
    background-color: #771d5b;
}

.woocommerce #respond input#submit.alt, .woocommerce #respond input#submit.alt:hover, .woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt, .woocommerce a.button.alt:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt, .woocommerce button.button.alt:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt, .woocommerce input.button.alt:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: #771d5b!important;
}

.woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus, .woocommerce a.button:hover, .woocommerce a.button:focus, .woocommerce button.button:hover, .woocommerce button.button:focus, .woocommerce input.button:hover, .woocommerce input.button:focus, .woocommerce .jupiterx-wc-loadmore:hover, .woocommerce .jupiterx-wc-loadmore:focus {
    background-color: #5e1146!important;
    border-color: #5e1447!important;
}

@media screen and (max-width: 480px){
    .appointment-item-wrapper{

        max-width: 100%;
    }
}
